# Santander costumer satisfaction solution

In [1]:
# Packages
import pandas as pd

In [2]:
# Datasets
testDF = pd.read_csv('test.csv', index_col = 'ID')
trainDF_9 = pd.read_csv('trainDF_9.csv', index_col = 'ID')

In [3]:
# Testing dataset shape
testDF.shape

(75818, 369)

In [4]:
# first five lines of the testing dataset
testDF.head()

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
ID,,,,,,,,,,,,,,,,,,,,,
2,2,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40532.10
5,2,35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45486.72
6,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46993.95
7,2,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187898.61
9,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73649.73

In [5]:
# Missing values
testDF.isnull().sum().sum()

0

In [6]:
# Take the same columns as trainDF_9
testDF_1 = testDF[trainDF_9.iloc[:,:-1].columns]

In [7]:
# Descriptive statistics of the traning dataset
testDF_1.describe()

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var41_comer_ult1,imp_op_var41_comer_ult3,imp_op_var41_efect_ult1,imp_op_var41_efect_ult3,imp_op_var41_ult1,...,saldo_medio_var8_ult3,saldo_medio_var12_hace2,saldo_medio_var12_hace3,saldo_medio_var12_ult1,saldo_medio_var12_ult3,saldo_medio_var13_corto_hace2,saldo_medio_var13_corto_hace3,saldo_medio_var13_corto_ult1,saldo_medio_var13_corto_ult3,var38
count,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,...,75818.000000,7.581800e+04,7.581800e+04,7.581800e+04,7.581800e+04,75818.000000,75818.000000,75818.000000,75818.000000,7.581800e+04
mean,-1579.955011,33.138832,83.164329,74.312894,123.136448,69.734376,115.469593,67.439982,110.967136,137.214620,...,104.805798,4.359742e+03,7.048762e+02,6.059647e+03,4.745336e+03,3581.184666,501.124806,4909.473875,3869.986824,1.173863e+05
std,39752.473358,12.932000,1694.873886,364.211245,606.431562,330.563913,540.054605,517.066406,726.368848,697.823263,...,1815.886791,4.549291e+04,1.184441e+04,5.116131e+04,4.000231e+04,25634.057252,6497.141632,31769.578595,25228.655561,2.479384e+05
min,-999999.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-869.310000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.202730e+03
25%,2.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,6.754961e+04
50%,2.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.057643e+05
75%,2.000000,39.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.183159e+05
max,238.000000,105.000000,240000.000000,21093.960000,47943.960000,14784.900000,28927.890000,67500.000000,67950.000000,72511.770000,...,216012.030000,4.500000e+06,1.202339e+06,4.356643e+06,3.002214e+06,450000.000000,283333.320000,450000.000000,450000.000000,2.889440e+07

The descriptive statistical parameter of the variables are very differents.

In [8]:
# Package
from sklearn.preprocessing import MinMaxScaler

# Normalization
scaler = MinMaxScaler(feature_range = (0, 1))
testDF_2 = scaler.fit_transform(testDF_1)
testDF_2

array([[0.99976406, 0.27      , 0.        , ..., 0.        , 0.        ,
        0.0013612 ],
       [0.99976406, 0.3       , 0.        , ..., 0.        , 0.        ,
        0.00153268],
       [0.99976406, 0.18      , 0.        , ..., 0.        , 0.        ,
        0.00158484],
       ...,
       [0.99976406, 0.19      , 0.        , ..., 0.        , 0.        ,
        0.00574866],
       [0.99976406, 0.35      , 0.        , ..., 0.        , 0.        ,
        0.00401853],
       [0.99976406, 0.18      , 0.        , ..., 0.        , 0.        ,
        0.00401853]])

In [9]:
# Rows and columns nomination
testDF_3 = pd.DataFrame(testDF_2, index = testDF_1.index, columns = testDF_1.columns)
testDF_3

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var41_comer_ult1,imp_op_var41_comer_ult3,imp_op_var41_efect_ult1,imp_op_var41_efect_ult3,imp_op_var41_ult1,...,saldo_medio_var8_ult3,saldo_medio_var12_hace2,saldo_medio_var12_hace3,saldo_medio_var12_ult1,saldo_medio_var12_ult3,saldo_medio_var13_corto_hace2,saldo_medio_var13_corto_hace3,saldo_medio_var13_corto_ult1,saldo_medio_var13_corto_ult3,var38
ID,,,,,,,,,,,,,,,,,,,,,
2,0.999764,0.27,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.004008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001361
5,0.999764,0.30,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.004008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001533
6,0.999764,0.18,0.0,0.0,0.0,0.0,0.0,0.000889,0.000883,0.000827,...,0.004008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001585
7,0.999764,0.19,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.004008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.006462
9,0.999764,0.18,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.004008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.002507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151831,0.999764,0.18,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.004008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001351
151832,0.999764,0.21,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.004008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.005045
151833,0.999764,0.19,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.004008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.005749
151834,0.999764,0.35,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.004008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.004019
151837,0.999764,0.18,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.004008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.004019

In [10]:
# Descriptive statistics of the traning dataset
testDF_3.describe()

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var41_comer_ult1,imp_op_var41_comer_ult3,imp_op_var41_efect_ult1,imp_op_var41_efect_ult3,imp_op_var41_ult1,...,saldo_medio_var8_ult3,saldo_medio_var12_hace2,saldo_medio_var12_hace3,saldo_medio_var12_ult1,saldo_medio_var12_ult3,saldo_medio_var13_corto_hace2,saldo_medio_var13_corto_hace3,saldo_medio_var13_corto_ult1,saldo_medio_var13_corto_ult3,var38
count,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,...,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000,75818.000000
mean,0.998182,0.281388,0.000347,0.003523,0.002568,0.004717,0.003992,0.000999,0.001633,0.001892,...,0.004491,0.000969,0.000586,0.001391,0.001581,0.007958,0.001769,0.010910,0.008600,0.004021
std,0.039743,0.129320,0.007062,0.017266,0.012649,0.022358,0.018669,0.007660,0.010690,0.009624,...,0.008373,0.010110,0.009851,0.011743,0.013324,0.056965,0.022931,0.070599,0.056064,0.008581
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.999764,0.180000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.004008,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.002296
50%,0.999764,0.220000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.004008,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.003619
75%,0.999764,0.340000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.004008,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.004053
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
# Boosting method for training dataset
from sklearn.ensemble import GradientBoostingClassifier

# Dependent variable
Y = trainDF_9.iloc[:,-1]
# Indepent variables
X = trainDF_9.iloc[:,:-1]

# Boosting method
model = GradientBoostingClassifier(loss = 'deviance', learning_rate = 0.05)

# Training the model
model.fit(X, Y)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.05, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [12]:
# Prediction for testing dataset
prediction = model.predict(testDF_3)
print('The total of class 0 is', sum(prediction == 0), 'the class 1 is', sum(prediction == 1),'.')

The total of class 0 is 48137 the class 1 is 27681 .

In [15]:
# Saving the submission file
pred_submission = pd.Series(prediction, name = 'TARGET', index = testDF_3.index)
pred_submission.to_csv('pred_submission.csv')

# The end